* {
    box-sizing: border-box;
}

@font-face {
    font-family: fraktur;
    src:url(../assets/UnifrakturMaguntia-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#container {
    min-height: 100vh;
}

header {
    box-sizing: border-box;
    /* background-color: white; */
    /* background-image: url(../assets/daniel-sessler-WjD8qGV68mQ-unsplash.jpg); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 10vh;
    display: flex;
}

#logo {
    margin: 0 auto;
    width: 12vh;
    height: 10vh;
    font-family: fraktur;
    font-size: 1.5vh;
}

#arms {
    height: 7vh;
    width: 12vh;
    background-image: url('../assets/512px-Coat_of_arms_of_Bavaria.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#name {
    height: 2vh;
    width: 12vh;
    border: 1px solid black;
    background-image: url('../assets/safwan-thottoli-_YgmNICHdss-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#name p {
    margin: auto auto;
    text-align: center;
    padding-top: 0.4vh;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 4vh;
}

nav > button {
    /* margin: 6.25% 0%; */
}

#content {
    background-image: url('../assets/tobias-reich-UV3RF73x-v0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    background: conic-gradient(
        white 0deg 25deg,
        #e6f7ff 25deg 155deg,
        white 155deg 205deg,
        #e6f7ff 205deg 335deg,
        white 335deg 360deg
    );
    background-repeat: repeat;
    /* background-position: top left; */
    background-size: 14vh 30vh;
    width: 50vw;
    min-height: 82vh;
    margin-left: auto;
    margin-right: auto;
    border: 0.5vh solid black;
    border-radius: 2vh;
}